---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import OurStory from '../components/OurStory.astro';
import CalendarButton from '../components/CalendarButton.astro';
import Location from '../components/Location.astro';
import RsvpForm from '../components/RsvpForm.astro';
import DressCode from '../components/DressCode.astro';
import SpotifyButton from '../components/SpotifyButton.astro';
import GiftInfo from '../components/GiftInfo.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="¡Nos Casamos! - 28 de Noviembre de 2026">
  <main>
    <Hero />
    <Countdown />
    <OurStory />
    <CalendarButton />
    <Location />
    <RsvpForm />
    <DressCode />
    <SpotifyButton />
    <GiftInfo />
  </main>
  <Footer />
</Layout>
